<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <style>
        body {
            background-image: url('/static/ved.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;




        }
    </style>
</head>

<body text="green">
    <h1>WELCOME YOU ARE THE MEMBER OF POWERLIFT FITNESS</h1>
    <h1>Location : THANE</h1>
    <h1>Contact : 9923456560</h1>
    <h1>Time : 24 Hour acess gym</h1>
    <h1>1 THE MEMBERSHIP GYM,<br>
        2 PERSONAL TRAINING,<br>
        3 THE GROUP TRAINING,<br>
        4 CROSSFIT<br>
    </h1>

    <table border="1px">
        <thead>
            <td>name</td>
            <td>email</td>
            <td>phno</td>
        </thead>
        <tr>
            <td>{{t[0]}}</td>
            <td>{{t[1]}}</td>
            <td>{{t[2]}}</td>
        </tr>

    </table>
</body>

</html>